[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/baka_allocators"]
	path = external/baka_allocators
	url = https://github.com/lahoising/BakaAllocators.git
